@model IPTreatmentManagement.Models.Dtos.Response.IPTreatmentPackageResponseDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Treatment Package</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreatmentPackageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreatmentPackageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TestDetails)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TestDetails)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AilmentCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AilmentCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TreatmentDurationInDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TreatmentDurationInDays)
        </dd>
    </dl>
</div>
