@model IPTreatmentManagement.Models.Dtos.Response.InsurerResponseDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>InsurerResponseDto</h4>
    <hr />
    <dl class="row border">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.InsurerName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.InsurerName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.InsurerPackageName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.InsurerPackageName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.InsuranceAmountLimit)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.InsuranceAmountLimit)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.DisbursementDurationInDays)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.DisbursementDurationInDays)
        </dd>
    </dl>
</div>
