@model IEnumerable<IPTreatmentManagement.Models.Dtos.Response.InitiateCliamResponseDto>

@{
    ViewData["Title"] = "Index";
}

<h1>All  Claims</h1>

<p>
    <a asp-action="InitiateClaim">Initiate Claim</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientNameId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PatientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ailment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentPackageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InsurerPackageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountToBePaid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientNameId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ailment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TreatmentPackageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsurerPackageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountToBePaid)
                </td>
            </tr>
        }
    </tbody>
</table>
