@model IEnumerable<IPTreatmentManagement.Models.Dtos.Response.TreatmentPlanResponseDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>All TreatmentPlans</h1>

<p>
    <a asp-action="Create"><i class="fas fa-2x fa-edit"></i></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PackageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestDetails)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentCommencementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TreatmentEndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PackageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TestDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Specialist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TreatmentCommencementDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TreatmentEndDate)
                </td>
            </tr>
        }
    </tbody>
</table>
